.alertify-logs {
	z-index: 999999 !important;
}
tr[href] td:not([disabled]) {
	cursor: pointer;
}
.sub-box-header {
	margin-bottom: 15px;
}
table.dataTable.table-select tbody tr,
table.dataTable.table-select thead th:first-child {
  cursor: pointer;
}
/*.filter-date {
	position: absolute;
    top: 63px;
    right: 210px;
    z-index: 99;
}*/
.filter-on-head {
	position: relative;
}
.filter-on-head label {
	font-size: 14px;
	font-weight: normal;
	float: left;
	margin-top: 5px;
	margin-right: 7px;
}
.filter-on-head.label-absolute label {
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	left: -70px;
	top: 2px;
}
.filter-on-body {
	position: absolute;
	top: 8px;
	right: 235px;
	z-index: 99;
}
.filter-on-body label {
	font-size: 14px;
	font-weight: normal;
	float: left;
	margin-top: 5px;
	margin-right: 7px;
	position: absolute;
	left:-71px;
}
.link-danger {
	color: #dd4b39;
}
.link-danger:hover {
	color: #d73925;
}
.link-default {
	color: #ccc;
}
.link-default:hover {
	color: #adadad;
}
.selectize-control .selectize-dropdown .selectize-dropdown-content .caption {
	font-size: 12px;
	display: block;
	color: #a0a0a0;
}
/*.alertify-logs.top {
	top: 45px !important;
}*/
.thead-center-center>tr>th {
	text-align: center !important;
	vertical-align: middle !important;
}
.tr-v-bottom>td {
	vertical-align: bottom !important;
}
.content-header.title--print {
	display: none;
}

@media print {
	@page {
		size: A4 landscape;
	}
	.content-header.title--print {
		display: block !important;
	}
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 12px;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .box-body {
  	padding: 0 !important;
  }
  .content-header, .content-header h1 {
  	display: block !important;
  	font-size: 15px !important;
  }
  .box {
  	border: none !important;
  }
  footer, .main-sidebar, .box-header, .content-header ol {
  	display: none !important;
  	border: none !important;
  }
  .content-wrapper, .right-side, .main-footer {
  	margin: 0 !important;
  }
  .dataTable thead tr th:first-child, 
  .dataTable tbody tr td:first-child,
  .dataTables_wrapper .row:first-child,
  .dataTables_wrapper .row:last-child,
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    display: none !important;
  }
}